#app-content {
    height: 100%;
}

#app-header {
    background: #3f50b5;
    padding-left: 5px;
    padding-right: 5px;
}

#app-center {
    background: #fafafa;
}

#app-footer {
    background: #3f50b5;
}
